@if $theme_style == 'style_1' or $theme_style == 'style_2' or $theme_style == 'style_3'{

	/*== old ==*/
	.o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{border-radius: 3px 0px 0px 3px;}
	.o_searchview .o_searchview_input_container .o_searchview_facet,.o_searchview .o_searchview_more{border-radius: 4px;}
	.o_control_panel .o_cp_searchview .o_searchview{transition: all .4s;padding-left: 4px;border: 1px solid #dee2e6;padding-top: 3px;}
	.o_searchview .o_searchview_more{padding: 11px 25px;}
	.o_control_panel .o_cp_searchview .o_searchview:hover{border: 1px solid $primaryColor !important;transition: all .4s !important;}
	.o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{background-color: $secondaryColor;}
	.btn-secondary:not(.o_external_button):not(:disabled):not(.disabled):active,.btn-secondary:not(.o_external_button):not(:disabled):not(.disabled):active, .btn-secondary:not(.o_external_button):not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{border-color: $primaryColor;}
	.o_searchview_quick .o_searchview .o_toggle_searchview_full{background-color: $secondaryColor;border-color: $secondaryColor;margin-right: 5px;}
	.o_searchview_quick .o_searchview .o_enable_searchview{background-color: $secondaryColor;border-color: $secondaryColor;}
	.o_search_options .o_dropdown_toggler_btn:first-child{margin-right: 10px;}
	.o_control_panel{border-bottom: 1px solid #e0e0e0;}
	.o_control_panel .o_cp_bottom_right > .o_cp_pager{min-width: 100px;}	
	/*== latest ==*/
	.o_control_panel .o_cp_searchview .o_searchview{border-radius: 5px;}
	.o_cp_switch_buttons .btn.o_switch_view{background: $secondaryColor !important;border-color: transparent !important;color: #212529 !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	.o_cp_switch_buttons .btn.o_switch_view:hover{background: $primary_hover !important;border: 0px!important;color: #fff!important}
	.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:active, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:focus{background: $primary_hover !important;color: #fff !important}
	.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:hover{background: $primary_hover !important;color: #fff!important}
	.o_control_panel .o_form_buttons_view > button:first-child {float: none;}
	.o_control_panel .o_cp_action_menus .o_dropdown {margin-right: 4px !important;margin-left: 0px!important;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_calendar_buttons .o_calendar_navigation_buttons .btn{margin-right: 1px !important;margin-left: 0px!important;}
	.o_cp_bottom_left .o_cp_buttons  .btn{margin-right: 2px !important;margin-left: 2px!important;}
	.o_cp_bottom_right .o_search_options .btn{margin-right: 7px !important;margin-left: 0px!important;padding: 5px 4px !important;text-transform: uppercase;}
	.o_cp_bottom_right	.fa-chevron-left,.o_cp_bottom_right	.fa-chevron-right,.o_cp_bottom_right .o_cp_switch_buttons .btn{margin-right: 5px !important;margin-left: 0px!important;}
	.o_cp_bottom_left .btn-group{display: inline-block !important;}
	.o_cp_bottom_left .btn{margin-right: 5px!important}
	.o_search_options .dropdown .dropdown-toggle.btn ,.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .dropdown .dropdown-toggle.btn{padding: 5px 4px !important;text-transform: uppercase;}
	.o_cp_switch_buttons .btn.o_switch_view{padding: .4rem 0.75rem !important;}
	.o_control_panel .o_cp_bottom_right .o_cp_pager .o_pager button.btn{padding: .6rem 0.75rem !important;}
	
	/* == old == */
	@media (max-width: 992px){
		.o_searchview_quick .o_searchview .btn.o_enable_searchview{margin-left: 0 !important;}
		.o_view_controller .o_control_panel .o_cp_searchview.o_searchview_quick,.o_touch_device .o_control_panel .o_cp_searchview.o_searchview_quick{flex: 0 0 100% !important;}
		.o_control_panel .o_cp_searchview .o_searchview{border: 0px;}
		.o_control_panel .o_cp_searchview.o_searchview_quick{flex: 0 0 100%;}
		.o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview{border: 1px solid #ccc;}
		.o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview:hover{border-color: $primaryColor;}
		.o_control_panel .btn.o_enable_searchview{padding-right: 0px;}
    	.o_control_panel .o_cp_searchview.o_searchview_quick .btn.o_enable_searchview{padding-right: 0.75rem;}
    	.o_control_panel .btn.o_enable_searchview{font-size: 18px !important;}
    }
	@media only screen and (min-width: 768px) and (max-width: 992px){
	   .o_searchview .o_searchview_more{padding: 8px 25px;}
	   .o_control_panel .o_cp_searchview .o_searchview{border: 1px solid #dee2e6;display: flex;}
   }
	@media only screen and (max-width: 992px){
		.o_control_panel .o_cp_right > .o_cp_switch_buttons > .btn:first-child{margin-top: 1px;}
  		.o_control_panel .o_cp_searchview .o_searchview{text-align: left;}
  		.o_searchview_quick .o_searchview .btn.o_enable_searchview{color: #212529;padding: .4rem 0.75rem;}
  		.o_cp_searchview.o_searchview_quick .o_searchview{display: flex;align-items: center;}
  		.o_cp_searchview.o_searchview_quick .o_searchview .o_searchview_input_container{padding-right: 5px;}
  		.o_searchview_quick .o_searchview .btn.o_enable_searchview{margin-left: 3px !important;}
	    .o_touch_device .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview{width: 100% !important;}
	}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_export_xlsx + .btn.btn-secondary + .btn.btn-secondary,
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_export_xlsx + .btn.btn-secondary:not([name="button_immediate_install"]) {position: relative;width: 32px;font-size: 0px;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_export_xlsx + .btn.btn-secondary + .btn.btn-secondary > span,
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_export_xlsx + .btn.btn-secondary:not([name="button_immediate_install"]) > span{display: none;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_export_xlsx + .btn.btn-secondary + .btn.btn-secondary::after{position: absolute;content: '\f0e6';font-family: 'FontAwesome';font-size: 16px;top: 1px;left: 6px;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .o_list_buttons .o_list_export_xlsx + .btn.btn-secondary:not([name="button_immediate_install"])::after{position: absolute;content: '\f003';font-family: 'FontAwesome';font-size: 16px;top: 1px;left: 6px;}
}