@if $login_page_style == "style_2" {
    [data-logged="false"] #wrapwrap .container-fluid.mb-5.pb-5 form.oe_login_form{margin: 10px auto;}
    [data-logged="false"] #wrapwrap,
    [data-logged="false"] #wrapwrap .o_database_list {font-family: $body_font_family !important;}
    [data-logged="false"] #wrapwrap a {text-decoration: none !important;}
    [data-logged="false"] #wrapwrap .o_database_list .justify-content-between.mt-2.d-flex.small {justify-content: center !important;}
    [data-logged="false"] #wrapwrap .o_database_list .justify-content-between.mt-2.d-flex.small a {color: #919191;padding-top: 15px;font-weight: 600;}
    [data-logged="false"] #wrapwrap .btn.btn-link.btn-sm,
    [data-logged="false"] #wrapwrap .btn-group-sm > .btn.btn-link#wrapwrap {color: $primaryColor !important;}
    [data-logged="false"] #wrapwrap {color: $primaryColor !important;}
    [data-logged="false"] #wrapwrap .o_database_list .text-center.small.mt-4.pt-3.border-top {margin-top: 0.5rem !important;}
    [data-logged="false"] #wrapwrap .o_database_list .text-center.small.mt-4.pt-3.border-top a {color: $primaryColor;font-weight: 600;letter-spacing: 0.4px;}
    [data-logged="false"] #wrapwrap .o_database_list .btn.btn-link.btn-sm {color: $primaryColor;padding-top: 15px;}

    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2::after {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #292626;opacity: 0.5;}
    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 {background: url("/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_banner_image");background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;position: relative;}
    [data-logged="false"] #wrapwrap .o_database_list.mt-5 {margin-top: 0rem !important;}
    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2.col-lg-6 {padding: 0px;}
    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 img {width: 100%;}

    [data-logged="false"] #wrapwrap .container-fluid.pb-5 {padding-bottom: 0rem !important;}
    [data-logged="false"] #wrapwrap .container-fluid.mb-5 {margin-bottom: 0rem !important;}

    [data-logged="false"] #wrapwrap .o_database_list {max-width: 100% !important;border-radius: 0px;box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);padding: 0px 25px;}
    [data-logged="false"] #wrapwrap .container .card {background-color: $login_page_box_color !important;color: #212529;}
    [data-logged="false"] #wrapwrap {background-color: $login_page_box_color !important;}
    [data-logged="false"] #wrapwrap .o_database_list .form-control:focus {box-shadow: none;}
    [data-logged="false"] #wrapwrap .o_database_list input[type="text"] {color: #0d0d0d;text-align: left;font-size: 16px;padding: 10px 10px;background-position: center bottom, center -webkit-calc(100% - 1px);padding-right: 0;padding-left: 0;background-color: transparent;background-repeat: no-repeat;-webkit-background-size: 0 2px, 100% 1px;background-size: 0 2px, 100% 1px;-webkit-transition: background 0s ease-out;-o-transition: background 0s ease-out;transition: background 0s ease-out;border-bottom: 1px solid #ccc;border-left: 0px;border-right: 0px;border-top: 0px;padding: 0.429rem 1.072rem;border-radius: 0px;}
    [data-logged="false"] #wrapwrap .o_database_list input[type="password"] {color: #0d0d0d;text-align: left;font-size: 16px;background-position: center bottom, center -webkit-calc(100% - 1px);padding-right: 0;padding-left: 0;background-color: transparent;background-repeat: no-repeat;-webkit-background-size: 0 2px, 100% 1px;background-size: 0 2px, 100% 1px;-webkit-transition: background 0s ease-out;-o-transition: background 0s ease-out;transition: background 0s ease-out;border-bottom: 1px solid #ccc;border-left: 0px;border-right: 0px;border-top: 0px;padding: 0.429rem 1.072rem;border-radius: 0px;}
    [data-logged="false"] #wrapwrap .o_database_list input[type="password"]:focus,
    [data-logged="false"] #wrapwrap .o_database_list input[type="password"]:focus-within,
    [data-logged="false"] #wrapwrap .o_database_list input[type="text"]:focus,
    [data-logged="false"] #wrapwrap .o_database_list input[type="text"]:focus-within {-webkit-background-size: 100% 2px, 100% 1px;background-size: 100% 2px, 100% 1px;outline: 0;-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;float: none;background-image: -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor)),-webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor));background-image: -webkit-linear-gradient($primaryColor, $primaryColor),-webkit-linear-gradient($primaryColor, $primaryColor);background-image: -o-linear-gradient($primaryColor, $primaryColor),-o-linear-gradient($primaryColor, $primaryColor);background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);border: 0;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;}
    [data-logged="false"] #wrapwrap input:-webkit-autofill,
    [data-logged="false"] #wrapwrap input:-webkit-autofill:hover,
    [data-logged="false"] #wrapwrap input:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0px 1000px $login_page_box_color inset !important;transition: background-color 5000s ease-in-out 0s !important;background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor) !important;}
    [data-logged="false"] #wrapwrap .o_database_list .btn-primary {border: none;color: white;padding: 12px 80px;text-align: center;text-decoration: none;display: inline-block;text-transform: uppercase;font-size: 13px;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background-color: $primaryColor;box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;}
    [data-logged="false"] #wrapwrap .o_database_list .btn-secondary {background-color: $primaryColor;border-color: $primaryColor;}
    [data-logged="false"] #wrapwrap .o_database_list .btn-primary:not(:disabled):not(.disabled):active,
    [data-logged="false"] #wrapwrap .o_database_list .btn-primary:not(:disabled):not(.disabled).active,
    [data-logged="false"] #wrapwrap .o_database_list .show > .btn-primary.dropdown-toggle {background-color: $primaryColor;border-color: $primaryColor;}
    [data-logged="false"] #wrapwrap .o_database_list .oe_login_buttons a.btn {padding-top: 25px;}
    [data-logged="false"] #wrapwrap .container .oe_login_form .justify-content-between.mt-2 {margin-top: 1rem !important;}

    [data-logged="false"] #wrapwrap .container .bg-100 {background-color: $login_page_box_color !important;}
    [data-logged="false"] #wrapwrap .o_database_list {background-color: $login_page_box_color !important;}
    [data-logged="false"] #wrapwrap .o_database_list .field-login label,
    [data-logged="false"] #wrapwrap .o_database_list .field-password label {color: $primaryColor;}
    [data-logged="false"] #wrapwrap .o_database_list .btn-primary {color: #ffffff;background-color: $primaryColor;}

    [data-logged="false"] #wrapwrap .o_database_list .field-db label.col-form-label {color: $primaryColor;}
    [data-logged="false"] #wrapwrap .o_database_list .card-body .border-bottom {border-bottom: 0 !important;margin-bottom: 0 !important;}
    [data-logged="false"] #wrapwrap .justify-content-between.mt-2.d-flex.small a:last-child {color: $primaryColor;}

    @media (max-width: 767.98px) {
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 {display: none;}
        [data-logged="false"] #wrapwrap .o_database_list {box-shadow: none;}
        [data-logged="false"] #wrapwrap .container-fluid.mb-5.pb-5 .o_database_list{padding: 0px 0px;}
    }
}
@if $login_page_style == "style_2" {
    @media only screen and (max-width: 992px) and (min-width: 577px) {
        [data-logged="false"] #wrapwrap .o_database_list {position: relative !important;}
    }
    @media only screen and (max-width: 576px) {
        [data-logged="false"] #wrapwrap .o_database_list {max-width: 360px !important;margin-top: 1rem !important;}
    }
   
}
@if $login_page_style == "style_2" {
    [data-logged="false"] #wrapwrap .o_database_list {align-items: center;height: 100vh;min-height: 100vh;justify-content: center;display: flex;}
}
