/* =================== style 3 ============== */

@if $login_page_style == "style_3" {
    [data-logged="false"] #wrapwrap,[data-logged="false"] #wrapwrap .card-body{font-family: $body_font_family !important;}
    [data-logged="false"] #wrapwrap .justify-content-between.mt-2.d-flex.small a {color: #ffffff;padding-top: 15px;}
    [data-logged="false"] #wrapwrap .card {overflow: visible !important;}
    [data-logged="false"] #wrapwrap .card .card-body input {padding-left: 0;background-color: transparent;background-repeat: no-repeat;background-position: center bottom, center calc(100% - 1px);background-size: 0 2px, 100% 1px;transition: background 0s ease-out;border-bottom: 1px solid #ccc;border-left: 0px;border-right: 0px;border-top: 0px;padding: 0.429rem 1.072rem;border-radius: 0px;}
    [data-logged="false"] #wrapwrap .card .card-body input:focus {-webkit-background-size: 100% 2px, 100% 1px;background-size: 100% 2px, 100% 1px;outline: 0;-webkit-transition-duration: 0.3s;-o-transition-duration: 0.3s;transition-duration: 0.3s;float: none;background-image: linear-gradient($header_bg_color, $header_bg_color), linear-gradient($header_bg_color, $header_bg_color);border: 0;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;}
    [data-logged="false"] #wrapwrap .btn.btn-link.btn-sm,
    [data-logged="false"] #wrapwrap .btn-group-sm > .btn.btn-link#wrapwrap {color: $primaryColor !important;}
    [data-logged="false"] #wrapwrap {color: $primaryColor !important;}
    [data-logged="false"] #wrapwrap .card .card-body .text-center.small.mt-4.pt-3.border-top {margin-top: 0.5rem !important;}
    [data-logged="false"] #wrapwrap .card .card-body .text-center.small.mt-4.pt-3.border-top a {color: #ffffff;}
    [data-logged="false"] #wrapwrap .card .card-body .btn.btn-link.btn-sm {color: $primaryColor;padding-top: 15px;}
    @if $login_page_background_type == "bg_color" {
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 {background-color: $login_page_background_color;background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;align-items: center;}
    }
    @if $login_page_background_type == "bg_img" {
        [data-logged="false"] .sh_backmate_th_login_left_img_st_2 {background: url("/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_background_image");background-repeat: no-repeat;background-size: cover;min-height: 100vh;background-position-x: center;background-position: center;align-items: center;}
    }

    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .card .card-body h1 .sign_in {color: #fff;font-weight: 600;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-login .input-group {background: rgba(256, 256, 255, 0.2) !important;align-items: center;padding: 4px 15px;border-radius: 5px;color: #ffffff;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-login .input-group input {background: transparent !important;border: 0;padding-left: 15px;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-login .input-group .input-group-prepend {align-items: center;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-login .input-group .login_user_icon {padding-right: 15px;font-size: 18px;}

    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-password .input-group {background: rgba(256, 256, 255, 0.2) !important;align-items: center;padding: 4px 15px;border-radius: 5px;color: #fff;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-password .input-group input {background: transparent !important;border: 0;padding-left: 15px;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-password .input-group .input-group-prepend {align-items: center;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-password .input-group .login_user_icon {padding-right: 15px;font-size: 18px;}
    [data-logged="false"] #wrapwrap .card .card-body .btn-primary {background: rgba(0, 0, 0, 0.2);}
    [data-logged="false"] #wrapwrap .o_database_list .card-body .field-db label {color: #ffffff;letter-spacing: 0.7px;}

    [data-logged="false"] #wrapwrap .mt-5 {margin-top: 0rem !important;}
    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2.col-lg-6 {padding: 0px;}
    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 img {width: 100%;}
    [data-logged="false"] #wrapwrap .container-fluid.pb-5 {padding-bottom: 0rem !important;}
    [data-logged="false"] #wrapwrap .container-fluid.mb-5 {margin-bottom: 0rem !important;}

    [data-logged="false"] #wrapwrap .o_database_list {max-width: 100% !important;border-radius: 0px;padding: 0px 25px;position: relative;}
    [data-logged="false"] #wrapwrap .container .bg-100 {background-color: $login_page_box_color !important;color: #212529;}
    [data-logged="false"] #wrapwrap {background-color: $login_page_box_color !important;}
    [data-logged="false"] #wrapwrap .card .card-body .form-control:focus {box-shadow: none;}
    [data-logged="false"] #wrapwrap .card .card-body input::placeholder{color: #ffffff !important;}
    [data-logged="false"] #wrapwrap .card .card-body input[type="text"] {background-color: transparent;border: none;color: #ffffff;text-align: left;text-decoration: none;display: inline-block;font-size: 16px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;padding: 10px 15px;background: rgba(255, 255, 255, 0.2);}

    [data-logged="false"] #wrapwrap .card .card-body input[type="password"] {background-color: transparent;border: none;color: #ffffff;text-align: left;text-decoration: none;display: inline-block;font-size: 16px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;padding: 10px 15px;background: rgba(255, 255, 255, 0.2);}
    [data-logged="false"] #wrapwrap .card .card-body .btn-primary {border: none;color: white;padding: 12px 80px;text-align: center;text-decoration: none;display: inline-block;text-transform: uppercase;font-size: 13px;box-shadow: none;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;background-color: $primaryColor;}
    [data-logged="false"] #wrapwrap .card .card-body .btn-secondary {background-color: $primaryColor;border-color: $primaryColor;}
    [data-logged="false"] #wrapwrap .card .card-body .btn-primary:not(:disabled):not(.disabled):active,
    [data-logged="false"] #wrapwrap .card .card-body .btn-primary:not(:disabled):not(.disabled).active,
    [data-logged="false"] #wrapwrap .card .card-body .show > .btn-primary.dropdown-toggle {background-color: $primaryColor;border-color: $primaryColor;}
    [data-logged="false"] #wrapwrap .card .card-body .oe_login_buttons a.btn {padding-top: 25px;}
    [data-logged="false"] #wrapwrap .container .oe_login_form .justify-content-between.mt-2 {margin-top: 1rem !important;}

    [data-logged="false"] #wrapwrap .container .bg-100 {background-color: $login_page_box_color !important;}
    [data-logged="false"] #wrapwrap .o_database_list {background-color: transparent !important;}
    [data-logged="false"] #wrapwrap .o_database_list .card-body {background-color: transparent !important;}
    [data-logged="false"] #wrapwrap .card .card-body label[for="db"],
    [data-logged="false"] #wrapwrap .card .card-body .field-login label,
    [data-logged="false"] #wrapwrap .card .card-body label[for="password"] {color: #ffffff;}
    [data-logged="false"] #wrapwrap .card .card-body .btn-primary {color: #ffffff;background: rgba(0, 0, 0, 0.5) !important;box-shadow: none;}
    [data-logged="false"] #wrapwrap .card .card-body .sign_in {color: $primaryColor;}
    @media (min-width: 1025px) {
        [data-logged="false"] #wrapwrap .card .card-body {border-radius: 10px;position: absolute;top: 50%;left: 50% !important;transform: translate(-50%, -50%);}
    }
    @media (max-width: 992px){
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child{flex: 0 0 100%;max-width: 100%;}
    }
    @media (max-width: 574px) {
        [data-logged="false"] #wrapwrap .o_database_list {box-shadow: none;}
    }
    [data-logged="false"] #wrapwrap .o_database_list .card-body .field-db .input-group-append a {background: rgba(0, 0, 0, 0.5);line-height: 38px;padding: 0 20px;box-shadow: none;border: 0px;}
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-password .input-group input::placeholder,
    [data-logged="false"] #wrapwrap .card .oe_login_form .form-group.field-login .input-group input::placeholder {color: #ddd !important;}
    [data-logged="false"] #wrapwrap .card .card-body .justify-content-between.mt-2.d-flex.small a {font-weight: 600;text-decoration: none;letter-spacing: 0.5px;}
    [data-logged="false"] #wrapwrap .card .card-body .text-center.small.mt-4.pt-3.border-top {border: 0 !important;margin: 0 !important;}
    [data-logged="false"] #wrapwrap .card .card-body .text-center.small.mt-4.pt-3.border-top a {font-weight: 600;text-decoration: none;letter-spacing: 0.5px;}
    [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child {border-right: 1px solid #fff;}
}
@if $login_page_style == "style_3" {
    @media only screen and (min-width: 993px){
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child {position: relative;}
    }
	@media only screen and (max-width: 1024px) and (min-width: 991px){
		[data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 50px;}
	}
    @media only screen and (max-width: 992px) and (min-width: 768px){
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child{padding-top: 100px;}
        [data-logged="false"] #wrapwrap .card .card-body{top: 50%;}
    }
    @media only screen and (max-width: 767px){
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child{padding-top: 50px;}
        [data-logged="false"] #wrapwrap .card .card-body{top: 50%;}
    }
    @media only screen and (max-width: 992px){
		[data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 20px;height: 100vh;}
		[data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{position: absolute;}
		[data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .pb-3{padding-bottom: 0rem !important;}
		[data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 .mb-4{margin-bottom: 0rem !important;}
        [data-logged="false"] #wrapwrap .sh_backmate_th_login_left_img_st_2 img[alt="icon_img"]{max-height: 50px !important;}
    }
	@media only screen and (max-width: 992px) and (min-width: 577px){
		[data-logged="false"] #wrapwrap .card-body {border-radius: 10px;position: absolute;top: 50%;left: 50% !important;transform: translate(-50%, -50%);width: 89%;}
	}
    @media only screen and (max-width: 576px){
        @if $login_page_style == "style_3"{        
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-login{position: relative;margin-bottom: 30px !important;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-password{position: relative;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-login label {display: none;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-login::before {content: "\f007";font-family: FontAwesome;font-size: 20px;margin: 0 15px;color: #ffffff;width: 20px;height: 20px;position: absolute;top: 3px;left: 0;display: inline-block;z-index: 1;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-login::after {content: "";font-size: 20px;margin: 0 20px;color: #ffffff;width: 20px;height: 15px;position: absolute;top: 11px;left: 0;display: inline-block;border-right: 1px solid #ffffff;}
            [data-logged="false"] #wrapwrap .card .card-body input[type="text"] {position: relative;padding-top: 10px;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-password label { display: none;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-password::before {content: "\f023";font-family: FontAwesome;font-size: 20px;margin: 0 15px;color: #ffffff;width: 20px;height: 20px;position: absolute;top: 3px;left: 0;display: inline-block;z-index: 1;}
            [data-logged="false"] #wrapwrap > main .oe_login_form .form-group.field-password::after {content: "";font-size: 20px;margin: 0 20px;color: #ffffff;width: 20px;height: 15px;position: absolute;top: 10px;left: 0;display: inline-block;border-right: 1px solid #ffffff;}
            [data-logged="false"] #wrapwrap .card .card-body input[type="password"] {position: relative;border-left: 0px solid $header_bg_color;}
        }
    }
	@media only screen and (max-width: 576px) and (min-width: 376px){
		[data-logged="false"] #wrapwrap .card-body {border-radius: 10px;position: absolute;top: 50%;left: 50% !important;transform: translate(-50%, -50%);width: 89%;}	
    }
	@media only screen and (max-width: 375px) and (min-width: 321px){
		[data-logged="false"] #wrapwrap .card-body {border-radius: 10px;position: absolute;top: 40%;left: 50% !important;transform: translate(-50%, -38%);width: 89%;}
	}
	@media only screen and (max-width: 320px){
		[data-logged="false"] #wrapwrap .card-body {border-radius: 10px;position: absolute;top: 40%;left: 50% !important;transform: translate(-50%, -25%);width: 89%;}
	}
}
@if $login_page_style == "style_3" {
	@if $login_page_background_type == "bg_img" {
		[data-logged="false"] #wrapwrap .row.sh_backmate_th_login_left_img_st_2:before {position: absolute;background: linear-gradient(200deg, $primaryColor 40%, $gradient_color 100%);z-index: 0;top: 57px;left: 0;height: 100%;content: '';width: 100%;opacity: .8;}
    }
}
