$o-enterprise-color: #3E424B;

$theme_style: style_2;
$theme_color: color_1;


$primaryColor:#3E424B;
$primary_hover:#3E424B;
$primary_active:#3E424B;
$gradient_color:#017e84;
$secondaryColor:#EEEEEE;
$secondary_hover:#EEEEEE;
$secondary_active:#EEEEEE;

$list_td_th:0.75rem !important;

$header_bg_color:#FFFFFF;
$header_font_color:#787373;
$header_hover_color:#3E424B;
$header_active_color:#3E424B;

$h1_color:#464d69;
$h2_color:#464d69;
$h3_color:#464d69;
$h4_color:#464d69;
$h5_color:#464d69;
$h6_color:#464d69;
$p_color:#464d69;

$h1_size:28px;
$h2_size:17px;
$h3_size:18px;
$h4_size:13px;
$h5_size:13px;
$h6_size:12px;
$p_size:13px;

$body_font_color:#787373;
$body_background_type:bg_color;
$body_background_color:#FFFFFF;
$body_font_family:'Poppins';
$body_google_font_family:'Muli';      
$is_used_google_font:False;

$o-mail-attachment-image-size: 100px !default;
// $is_button_with_box_shadow:False;

$sidebar_bg_color:#FFFFFF;
$sidebar_font_color:#181F4C;
$sidebar_font_hover_color:#FFFFFF;
$sidebar_font_hover_bg_color:#3E424B;
$sidebar_is_show_nav_bar:True;
$sidebar_collapse_style:expanded;


       
$separator_style:style_7;
$separator_color:#3E424B;

$o-community-color:#3E424B;
$o-tooltip-background-color:#3E424B;
$o-brand-secondary:#e6e6e6;
$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

// $is_button_with_icon_text:True;
// $is_button_with_box_shadow: True;
$button_style:style_2;

$predefined_list_view_boolean:True;
$predefined_list_view_style:style_1;
$list_view_border:without_border;
$list_view_is_hover_row:True;
$list_view_hover_bg_color:#F2F2F2;
$list_view_even_row_color:#ECECEC;
$list_view_odd_row_color:#FFFFFF;

$login_page_style: style_2;
$login_page_style_comp_logo: False;
$login_page_background_type: bg_color;
$login_page_background_color: #ffffff;
$login_page_box_color:#ffffff;


$is_sticky_form:False;
$is_sticky_chatter:False;
$is_sticky_list:False;
$is_sticky_list_inside_form:False;
$is_sticky_pivot: False;

$modal_popup_style:style_2;

$tab_style:horizontal;
$tab_style_mobile:vertical;
$horizontal_tab_style:style_5;
$vertical_tab_style:style_5;
$form_element_style:style_1;
$search_style:collapsed;
$breadcrumb_style:style_1;
$sidebar_background_style:color;
// $chatter_position:normal;
$loading_style:style_1;
$progress_style:style_1;
$progress_height:4px;
$progress_color:#3E424B;
$checkbox_style:style_1;
$radio_btn_style:style_1;
$scrollbar_style:style_1;
$discuss_chatter_style:style_1;
$icon_style:dual_tone;
$dual_tone_icon_color_1:#A3A5B7;
$dual_tone_icon_color_2:#3E424B;
$backend_all_icon_style: style_2;






